
.faded{
    color: #{$font-color-faded};
    font-weight: lighter;
}

.red{
    color: #{$font-color-red};
    font-weight: lighter;
}

.post-title{
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #000;
}

.underline{
    border-bottom: 2px solid #{$divider-color};
}
.post-time{
    font-size: 1rem;
    line-height: 1.6rem;
    vertical-align: middle;
    color: #{$secondary-text-color};
}
