
@media only screen and (min-width: 414px) {
    html{
        font-size: 87.5% !important;
    }
}

@media only screen and (min-width: 641px) {
    html{
        font-size: 122.5% !important;
    }
}

@media only screen and (min-width: 720px) {
    .page-sidebar{
        display: none;
    }
}

@media only screen and (min-width: 720px){
    .container{
        width: 80%!important;
    }
}