
body{
    background-color: #eee;
}

#default{
    .#{$blog-css-prefix}-img{
        border: none;
        vertical-align: middle;
    }
    .header-logo{
        width: 2rem;
        height: 2rem;
    }
    .#{$blog-css-prefix}-img:hover{
        border: none;
    }
    .#{$blog-css-prefix}-name{
        display: inline-block;
        vertical-align: middle;
        font-size: 0.5rem;
        &:hover{
            color: #{$primary-color-light};
        }
    }
}

.#{$blog-css-prefix}-img:hover{
    border: 1px solid #{$primary-color-light};
}

.#{$blog-css-prefix}-name{
    font-size: 1rem;
    margin: 0.4rem auto;
}

// 头布局 end

// 页面内容布局 start
.container{
    display: block;
    position: relative;
    width: 16rem;
    padding: 1.2rem;
    margin: auto;
}

//文章浏览布局 start
.page-content{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.page-sidebar{
    display: none;
    width: 200px;
}
//文章浏览布局end

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}
.underline{
    border-bottom: 2px solid #{$font-color-faded};
}

.underline:hover{
    border-bottom:  2px solid #{$font-color-red};
}
.claerfix{
    zoom: 1;
}
.clearfix:after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
//页面内容布局 end

//页脚布局 start
.#{$blog-css-prefix}-footer{
    margin-top: 0.75rem;
    border-top: 1px solid #ccc;
    .inline-list{
        text-align: center;
        height: 0.6rem;
        line-height: 0.6rem;
        margin: 0;
        li{
            margin: 0 1rem;
        }
    }
}
//页脚布局 end
