#default{
    .#{$blog-css-prefix}-img{
        border: none;
        vertical-align: middle;
    }
    .header-logo{
        width: 32px;
        height: 32px;
    }
    .#{$blog-css-prefix}-img:hover{
        border: none;
    }
    .#{$blog-css-prefix}-name{
        display: inline-block;
        vertical-align: middle;
        &:hover{
            color: #{$primary-color-light};
        }
    }
}

.#{$blog-css-prefix}-img:hover{
    border: 1px solid #{$primary-color-light};
}

.#{$blog-css-prefix}-name{
    margin: 12px auto;
}

// 头布局 end

// 页面内容布局 start
.container{
    display: block;
    position: relative;
    width: 90%;
    max-width: 640px;
    padding: 20px;
    margin: auto;
}

//文章浏览布局 start
.page-content{
    position: relative;
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.page-sidebar{
    display: none;
    width: 200px;
}

.#{$blog-css-prefix}-paginator{
    text-align: center;
    .page-item{
        margin: 0.25rem;
        &.active{
            color: $accent-color
        }
    }
}
//文章浏览布局end

.underline{
    border-bottom: 2px solid #{$font-color-faded};
}

.underline:hover{
    border-bottom:  2px solid #{$font-color-red};
}
.claerfix{
    zoom: 1;
}
.clearfix:after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
//页面内容布局 end

//页脚布局 start
.#{$blog-css-prefix}-footer{
    margin-top: 0.75rem;
    border-top: 1px solid #ccc;
    .inline-list{
        text-align: center;
        line-height: 1;
        margin: 0;
        padding: 0;
        li{
            margin: 0 16px;
        }
    }
}
//页脚布局 end
