.inline-list{
    display: block;
    width: 100%;
    >li{
        display: inline-block;
    }
}
.post-list{
    display: block;
    width: 100%;
}

.post-li{
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 2px dashed $primary-color-dark;
    &:last-child{
        border-bottom: none;
    }
}
.post-li-hd{
    display: block;
    margin-bottom: 20px;
}
.post-a{
    color: $primary-color;
}