$blog-css-prefix:  blog !default;

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$font-size-base:   20px !default;
$font-color-faded: #d3d3d3 !default;
$font-color-red: #ff0f00 !default;
