<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="homepage">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </body>
    <!-- <script  src="{{"/requirejs/require.js"|"//cdn.bootcss.com/require.js/2.1.22/require.min.js"}}"></script>
    <script type="text/javascript">
        requirejs.config({
            baseUrl: '',
            paths: {

            }
        });
    </script> -->
    <script src="/assets/scripts/main.min.js"></script>
</html>
